.TodoContainer {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  .Title {
    font-size: 100px;
    font-weight: 100;
    color: antiquewhite;
  }
  .List {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      margin-left: 55px;
  }
  .Item {
    margin-top: 15px;
    font-size: 18px;
    input {
        margin-right: 10px;
    }
  }
  .ItemDone {
    text-decoration: line-through;
  }
  .Add {
    font-size: 18px;
    line-height: 33px;
    background: rgba(255,255,255,0);
    border-radius: 4px;
    height: 32px;
    margin-left: 15px;
  }
}
